.chatPage {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.serverInfo {
    margin-top: 3rem;
    height: 100%;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #1f1f1f;
}

.chatFunctions {
    margin-left: 11rem;
    padding: 2rem;
    height: 100%;
    border-radius: 8px;
    background-color: #1f1f1f;
}

.memberList {
    width: 15vw;
    max-height: 70vh;
    min-height: 50vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
    border: 1px solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.memberList ::-moz-scrollbar {
    display: none;
}

.memberList li {
    text-align: left;
    margin: 0.75rem;
}

.leaveServerButton {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: #ff6961;
}

.chatWindow {
    width: 50vw;
    border: 1px solid;
    /* min-height: 50vh;
    max-height: 70vh; */
    height: 65vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.messageContainerUser {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.messageContainerUser p {
    margin: 0.3em;
}

.messageContainerServer {
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: red;
}

.messageContainerServer p {
    margin: 0.3em;
}

.messageSender {
    font-weight: 500;
    font-size: 20px;
    margin-left: 2em;
    margin-right: -1.5em;
}

.messageContent {
    font-weight: 500;
    font-size: 20px;
    margin-right: 2em;
    margin-left: 2em;
}