#root {
  max-width: 75%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  z-index: 5;
}

/* 
.card {
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
*/